@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Rubik+Distressed&family=Teko:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(236, 231, 226);
    width: auto;
   
    
}

#logo{

    height: 120px;
    z-index: 1;
    position: absolute;
    top: -30px;
    
}
nav{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;

}

.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    height: 55px;
    background-color: black;
    font-size: 12px;
    padding-right: 12px;
    
   
}
nav ul li {
    padding: 0 12px; color: white;
}
nav ul li a{
    color: white;
    text-decoration: none;

}
.brand img{
    padding: 0 8px;
    
         width: 44px;

}
.brand{

    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
}
.container{
  
    height:70vh;
    background-color: black;
    font-family: 'Lobster', cursive;

    color: white;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('./images/as.jpg');
    background-repeat: no-repeat;
background-position: center;
background-size: 805px;

}

.icons{
    margin-top: 14px;
}
.icons i{
    cursor: pointer;
}
#myprogressbar{
    width: 80vw;
    
}


.ma{
    padding-top: 300px;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 13px;
    
}
.que {
    font-family: 'Lobster', cursive;
    display: flex;
    justify-content: center;

    position: relative;
    top: -30px;
}
.s{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.b{

    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(236, 231, 226);
}
.spinner{
    position: relative;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spinbtn{
    position: absolute;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: uppercase;
    font-weight: 600;
    color: #333;
    letter-spacing: 0.1em;
    border: 4px solid rgba(0,0,0,0.75);
    cursor: pointer;
    user-select: none;

}
.spinbtn::before{
    content: '';
    position: absolute;
    top: -28px;
    width: 20px;
    height: 30px;
    background: #fff;
    clip-path: polygon(50% 0%,15% 100%,85% 100%);

}
.wheel{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0 5px #333, 0 0 0 15px #fff,0 0 0 18px #111;
    transition: transform 5s ease-in-out;
}

  .wheel .mood{
    position: absolute;
    width: 50%;
    height: 50%;
    background: var(--clr);
    transform-origin: bottom right;
    transform: rotate(calc(45deg * var(--i)));
    clip-path: polygon( 0 0, 55% 0, 100% 100%, 0 56%);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;


}
.que{
    padding-top: 50px;
}
.wheel .mood span{
    position: relative;
    transform: rotate(45deg);
    font-size: 2em;
    font-weight: 700;
    color: #fff;
    text-shadow: 3px 5px 2px rgba(0,0,0,0.15);
}
.wheel .mood span::after{
    position: absolute;
    font-size: 0.75em;
    font-weight: 500;
}
.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}
.disco{
    display: flex;
    gap: 20px;
    padding-top: 70px;
    justify-items: center;
    align-items: center;
}
@media screen and (max-width:691px){


   
    
    .container{
        background-size: contain;
       height: 800px;
    }
    .songlist{
        text-align: center;
    }
    .que{
        padding-top: 120px;
    }
    .disco{
        
        gap: 20px;
        padding-right: 0;
        font-size: large;
        flex-direction: column;
        margin: 44px;
    }
    
}
@media screen and(min-width:731px) {
    .container{
        background-size: contain;
       height: 600px;
    }
    nav ul{
        width: 100%;
        padding: 4px;
        
 }
    
}




@media (max-width: 770px) {
    .container{
        margin-top: 40px;
    }
    .hamburger {
        display: block;
        z-index: 1;
        position: absolute;
        top: -32px;
        left: 10px;
    
    }
   
    nav ul {
        display: flex;
        flex-direction: column;
        gap: 1px;
        width: 100%;
        height: 300px;
        background-color: white;
        position: absolute;
        top: -45px;
        left: 0;
        transform: translatey(-100%);
        transition: transform 0.3s ease-in-out;
        
    }
    nav ul.active {
        top: -44px;
        transform: translatey(0);
        margin-bottom: 300px;
        
    }
    nav ul li {
        
        padding: 10px 0;
        height: 100%;
    }

    
    nav ul li a{
        color:black;
      
    
    }
   
}
@media  (min-width:424px) {
    #logo{
        display: none;
     }
}

@media screen and (max-width:424px) {
    #logo{
        right: -30px;
     }
}

@media screen and (max-width:486px) {
    .spinner {
       
        width: 303px;
        height: 303px;
        
    }
    .b{
        padding-top: 87px;
        margin: 2px;
    }
    .que{
        font-size: 28px;
    }
}

@media screen and (min-width:770px) {
    #logo{
        display: block;
     }
}
